.App {
  font-family: sans-serif;
  text-align: center;
}
input[type="text"]
{
width: 30vw;
height:3vh;
text-align:center;
display: block;
margin: auto
}
h3{
  display: inline;
}
span{
  padding: 12px;
font-size: 32px;
cursor: pointer;
}